@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.swiper-pagination {
  bottom: 16px !important;
  z-index: 10;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #ff5500;
  opacity: 1;
}
