@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea {
  outline: none;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.slider-thumb {
  opacity: 0;
  pointer-events: none;
}

.slider-thumb::-webkit-slider-thumb {
  pointer-events: all;
  cursor: pointer;
}

.gnb-shadow {
  box-shadow: 0px 4px 40px 0px rgba(80, 45, 25, 0.1);
}

.swiper .swiper-pagination-bullet {
  background-color: white !important;
  margin: 0 2px !important;
}
